* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
  font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
}
ul {
  list-style: none;
}

.container {
  display: grid;
  width: 100vw;
  height: 100vh;
  grid-template-columns: 0.70fr repeat(3, 1fr);
  grid-template-rows: repeat(5, 1fr);
}


.content {
    background-color: #e2e8f0;
    grid-area: 2 / 2 / 6 / 6;
}

/* Side Bar */
.side-bar {
    background-color: #1992d4;
    grid-area: 1 / 1 / 6 / 2;
    font-size: 1.5rem;
    font-weight: bolder;
    color: #fefefe;
    
    display: grid;
    grid-template-rows: 1fr 4fr 5fr;
    align-items: start;
    
    --side-grid-temp: 1fr 3fr;
    --side-grid-gap: 20px;
    
}
.side-bar div {
    display: grid;
    grid-template-columns: var(--side-grid-temp);
    gap: var(--side-grid-gap);
}

.logo {
    grid-area: 1 / 1 / 2 / 2;
    margin-top: 15px;
}

.nav-link {
    grid-area: 2 / 1 / 3 / 2;
    margin-top: 15px;
}

.misc-link {
    grid-area: 3 / 1 / 4/ 2;
    margin-top: 15px;
}

.side-bar img {
    justify-self: end;
    align-self: center;
    height: auto;
}
.side-bar p {
    align-self: center;
}

.logo > img {
    width: 2em;
}
.logo > p {
    font-size: 2rem;
}

.nav-link img,
.misc-link img {
    width: 0.8em;
}
.nav-link p,
.misc-link p {
    font-size: 00.8em;
}

/* header */
.header {
  background-color: #ffffff;
  grid-area: 1 / 2 / 2 / 5;
  display: grid;
  grid-template: repeat(2, 1fr)/repeat(3, 1fr);
  padding: 10px;
  margin-bottom: 10px;
}
.header img {
    width: 1.5rem;
}

.search-bar {
    grid-area: 1 / 1 / 2/ 3;
    appearance: none;
    align-self: center;
    margin-left: 50px;
}

#search-bar {
    width: 85%;
    height: 2rem;
    border: none;
    border-radius: 2rem;
    background-color: #e2e8f0;
}

label[for="search-bar"] {
    position: relative;
    top: 0.4rem;
}

img[alt="profile-pic"] {
    border-radius: 50%;
    width: 3rem;
}

#big-profile-pic {
    width: 4rem;
}



.profile-link {
    display: grid;
    grid-template-columns:repeat(2, 1fr) 2fr;
    place-items: center;
}

.profile-link span {
    justify-self: start;
    font-weight: bold;
    font-size: larger;
}

.profile-link a{
    justify-self: end;
}

.greetings {
    display: grid;
    grid-area: 2 / 1 / 3 / 3;
    grid-template-columns: 1fr 5fr;
    place-items: center;
    font-weight: bold;
}
.greetings img {
    justify-self: end;
}


.greets {
    justify-self: start;
    padding-left: 20px;
}

.greets .user-name {
    font-size: 1.5rem;
}

.btns {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    place-content: center;
}

.btns button {
    color: #fefefe;
    font-size:medium;
    border: none;
    border-radius: 1.5rem;
    background-color: #1992d4 ;
    padding:0.5rem;
    width: 6rem;
}

/* content */
.content {
    display: grid;
    grid-template: 2fr repeat(2, 1fr) 2fr / repeat(2, 1.5fr) 1fr;
}

.project {
    grid-area: 1 / 1 / 5 / 3;
    display: grid;
    grid-template-rows: 2em repeat(3, 1fr);
    grid-template-columns: repeat(2 , 1fr);
    gap: 30px;
    place-content: center;
    padding: 30px;
    padding-top: 0;
}

.card {
    position: relative;
    border-radius: 15px;
    background-color: #fefefe;
    width: 100%;
    height: 100%;
    text-overflow: ellipsis;
    padding: 15px;
    
}

.project .card {
    border-left: 5px solid #f0b429;
}

.card img{
    width: 1.2em;
}

.project .title{
    grid-area: 1 / 1 / 2/ 3;
    font-weight: bolder;
    font-size: 1.2rem;
    position: relative;
    top: 1.5em;
}

.card-title {
    font-weight: bold;
}

.card-link {
    position: absolute;
    bottom: 1em;
    right: 1em;
}


.announcement {
    grid-row: 1 / 3 ;
    font-size: 0.8em;
    display: grid;
    gap: 30px;
    padding: 15px;
}

.announcement .card{
    place-content: center;
}

.card hr {
    margin: 6px 0;
}

.announcement .title, 
.trend .title{
    font-size: 1.2rem;
    font-weight: bolder;
    position: relative;
    top: 1em;
    
}

.trend {
    grid-row: 3 / 5;
    font-size: 0.88em;
    display: grid;
    gap: 30px;
    padding: 15px;
    align-self: start;
}

.card .trend-profile {
    display: grid;
    grid-template-columns: 1fr 3fr;
    
}

.trend-profile img {
    border-radius: 50%;
    width: 3em;
}

.trend-profile + .trend-profile {
    margin-top: 10px;
}


